body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.blur-nav {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.08);
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.blur-nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 18px;
}

.blur-nav .active {
    border-bottom: 2px solid blue;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons i {
    color: white;
    margin-left: 15px;
    font-size: 20px;
}

h1, h2 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    color: #fff;
}

p {
    color: #fff;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}

h2 {
    margin-top: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #fff;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin: 10px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 46%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.highlight {
    color: #00aaff;
}
