@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('https://i.ibb.co/p193xZp/img2.jpg') no-repeat center;
    background-size: cover;
    background-position: center;
}

.blur-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(7, 134, 253, 0.623);
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    padding: 0 5px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
    z-index: 1001;
}

#check {
    display: none;
}

nav ul li:hover a {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.2);
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3);
}

@media (max-width: 850px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        top: 75px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: rgba(23, 7, 253, 0.623);
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease;
        z-index: 999;
        padding-top: 20px;
    }

    nav ul li {
        margin: 20px 0;
    }

    nav ul li a {
        color: white;
        font-size: 24px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    .logo {
        margin-left: 0;
    }
}


.wrapper {
    width: 420px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.256);
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 40px;
    color: #ffffff;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: #000000;
}

.input-box {
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 15px 45px 15px 20px;
}

.input-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #000000;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.remember-forgot a {
    color: #000000;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    color: #333;
    border: none;
    outline: none;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}

.error-message {
    color: red;
    text-align: center;
}

footer {
    position: relative;
    width: 100%;
    background: #3586ff00;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}

footer .social_icon,
footer .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    z-index: 1000;
}

footer .wave {
    position: absolute;
    top: -200x;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: .2;
    bottom: -2px;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: .1;
    bottom: 8px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: .2;
    bottom: -5px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: .1;
    bottom: 10px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}
